on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install dependencies
        run: flutter pub get
      
      - name: Running Flutter analysis on package code
        run: flutter analyze --no-fatal-infos --no-fatal-warnings --write=analysis_report.txt
      
      - name: Artifact analysis report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: analysis-report
          path: |
            analysis_report.txt
          retention-days: 15
      
      - name: Check Publish Warnings
        run: dart pub publish --dry-run

      - name: Publish new package version
        uses: k-paxian/dart-package-publisher@master
        with:
          credentialJson: ${{ secrets.CREDENTIAL_JSON }}
          flutter: true