on:
  pull_request:
    branches: [ "main" ]
jobs:
  
  analyze-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install dependencies
        run: flutter pub get
      
      - name: Running Flutter analysis on package code
        run: flutter analyze --no-fatal-infos --no-fatal-warnings --write=analysis_report.txt
      
      - name: Artifact analysis report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: analysis-report
          path: |
            analysis_report.txt
          retention-days: 15
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      
      - name: Install dependencies
        run: flutter pub get
      
      - name: Run unit tests
        run: flutter test
  dry-run-upload:
    needs: [analyze-code, unit-test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      
      - name: Install dependencies
        run: flutter pub get
      
      - name: Check Publish Warnings
        run: dart pub publish --dry-run